# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# Python Notebook temp folder
.ipynb_checkpoints/


# Temporary files
*~

# latex files
*.aux
*.log
*.bbl
*.blg

# vim temp files
.*.sw[opq]

# Mark file
*.inp
*.res
*.out
*.vcv